<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Train Ticket</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Custom styles can be added here */
        .ticket {
            width: 600px;
            margin: 50px auto;
            padding: 20px;
            border: 1px solid black;
            border-radius: 10px;
            font-size:20px;
            background-color:beige;
        }
        /* Additional custom styles can be added here */
    </style>
</head>

<body>
    <div class="ticket">
        <h2 class="text-center mb-4">Train Ticket</h2>
        <div class="row mb-3">
            <div class="col-sm-6">PNR No: 1234567780</div>
            <div class="col-sm-6">Train Name: Bhopal Express</div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-6">From: Bhopal</div>
            <div class="col-sm-6">To: Pune</div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-6">Departure: 04:00 PM</div>
            <div class="col-sm-6">Arrival: 12:40 Am</div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-6">Date: 01/01/2024</div>
            <div class="col-sm-6">Seat: 23A</div>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>